body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pacifico', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Courier Prime', monospace;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
